{% extends 'registration/auth_base.html' %}

{% load widget_tweaks %}

{% block title %}Recuperar senha{% endblock %}

{% block content %}
  <p class="login-box-msg">Insira seu email para recuperar sua senha. Você receberá um e-mail com as instruções para redefinir a senha</p>
  <form action="." method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
      {{ form.email | attr:'type=email' | add_class:'form-control' | attr:'placeholder=Email' }}
      <div class="input-group-append input-group-text">
          <span class="fas fa-envelope"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="icheck-primary">
        </div>
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
{% endblock %}
