{% extends 'registration/auth_base.html' %}

{% load widget_tweaks %}

{% block title %}Recuperar senha{% endblock %}

{% block content %}
<p class="login-box-msg">
  <h4>Redefinição de senha enviada</h4>
  <hr>
</p>
  <p class="login-box-msg">
    Nós te enviamos por e-mail as instruções para redefinição de sua senha, se existir uma conta com o e-mail que você forneceu. Você receberá a mensagem em breve.
  </p>
  <p class="login-box-msg">
    Se você não receber um e-mail, por favor verifique se você digitou o endereço que você usou para se registrar, e verificar a sua pasta de spam.
  </p>
{% endblock %}
