{% extends 'registration/auth_base.html' %}

{% load widget_tweaks %}

{% block title %}Recuperar senha{% endblock %}

{% block content %}

{% if validlink %}
  <p class="login-box-msg">Crie uma nova senha</p>
  <form action="." method="post">
    {% csrf_token %}
    <p>Nova senha:</p>
    <div class="input-group mb-3">
      {{ form.new_password1 | add_class:'form-control' | attr:'placeholder:Nova senha' }}
      <div class="input-group-append input-group-text">
          <span class="fas fa-lock"></span>
      </div>
    </div>
    <p>Confirme sua nova senha:</p>
    <div class="input-group mb-3">
      {{ form.new_password2 | add_class:'form-control' | attr:'placeholder:Confirme sua nova senha' }}
      <div class="input-group-append input-group-text">
        <span class="fas fa-lock"></span>
      </div>
    </div>
    <div class="text-danger">
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
    </div>

    <div class="row">
      <div class="col-8">
        <div class="icheck-primary">
        </div>
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Salvar</button>
      </div>
      <!-- /.col -->
    </div>
  </form>
{% else %}

  <p>
    Este link para a recuperação de senha é inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova recuperação de senha.
  </p>
  
  <p class="mb-3">
      <a class="btn btn-primary btn-block btn-flat" href="{% url 'login' %}" role="button">Link</a>
  </p>

{% endif %}

{% endblock %}

