{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block name_page %} {% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">monetization_on</i>
                        </div>
                        <p class="card-category">Venda Líquida</p>
                        <h3 class="card-title">R$ 3.139.565,92
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">arrow_drop_down</i>
                            <a href="javascript:;">Detalhes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">signal_cellular_alt</i>
                        </div>
                        <p class="card-category">Markup</p>
                        <h3 class="card-title">104%</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Último mês
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Devolução</p>
                        <h3 class="card-title">123.100,99
                            <small>(3,8%)</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Último mês
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">equalizer</i>
                        </div>
                        <p class="card-category">Troca</p>
                        <h3 class="card-title">R$ 10,00</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Último mês
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Venda Líquida de 01/2020</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> aumento em
                            relação ao ano passado.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Top - Cliente</h4>
                        <p class="card-category"><span class="text-danger"><i class="fa fa-long-arrow-down"></i> 15%
                            </span> queda em
                            relação ao ano passado.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Receita de Venda</h4>
                        <p class="card-category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 37%
                            </span> aumento em
                            relação ao ano passado.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Venda no período</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td class="text-tabela">Faturado R$</td>
                                    <td class="valor-tabela text-tabela">$3.262.666,91</td>
                                </tr>
                                <tr>
                                    <td>Devolução R$</td>
                                    <td class="valor-tabela">$123.100,99 (3,8%)</td>
                                </tr>
                                <tr>
                                    <td class="text-tabela text-success">Venda líquida R$</td>
                                    <td class="valor-tabela text-tabela text-success">$3.139.565,92</td>
                                </tr>
                                <tr>
                                    <td class="text-tabela">Custo compra R$</td>
                                    <td class="valor-tabela text-tabela">$1.538.251,32</td>
                                </tr>
                                <tr>
                                    <td class="text-tabela text-info">Markup %</td>
                                    <td class="valor-tabela text-tabela text-info">104%</td>
                                </tr>
                                <tr>
                                    <td class="text-tabela">CMV R$</td>
                                    <td class="valor-tabela text-tabela">$2.348.251,54</td>
                                </tr>
                                <tr>
                                    <td class="text-tabela text-info">Margem contrib R$</td>
                                    <td class="valor-tabela text-tabela text-info">$348.251,54</td>
                                </tr>
                                <tr>
                                    <td class="">Venda a vista R$</td>
                                    <td class="valor-tabela">$245.251,54</td>
                                </tr>
                                <tr>
                                    <td class="">Venda a prazo R$</td>
                                    <td class="valor-tabela">$684.251,54</td>
                                </tr>
                                <tr>
                                    <td class="">Prazo médio (dias)</td>
                                    <td class="valor-tabela">51</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Posição do Estoque</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <td class="">Custo Contábil R$</td>
                                <td class="valor-tabela">$15.251,54</td>
                            </tr>
                            <tr>
                                <td class="">CMV R$</td>
                                <td class="valor-tabela">$4.251,54</td>
                            </tr>
                            <tr>
                                <td class="">PMZ R$</td>
                                <td class="valor-tabela">$251.54</td>
                            </tr>
                            <tr>
                                <td class="text-tabela">Pr. Venda R$</td>
                                <td class="valor-tabela">$35.451,54</td>
                            </tr>
                            <tr>
                                <td>Vl.ST R$</td>
                                <td class="valor-tabela">$0</td>
                            </tr>
                            <tr>
                                <td>Vl.IPI R$</td>
                                <td class="valor-tabela">$50.546,12</td>
                            </tr>
                            <tr>
                                <td>Vl.Ven.c/Imp R$</td>
                                <td class="valor-tabela">$54.546,12</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}