{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block name_page %} {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="container" id="marker">
            <div class="card">
                <div class="card-header bg-danger">
                    <h3 class="card-title" style="padding: 10px; font-size: 25px;">Mapa MarkerCluster
                        <button type="button" class="btn btn-warning" style="float: right; color: white;" id="btn-heat" onClick="showHeat('heat')">Heat Map</button>
                    </h3>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    {{ mc_map|safe }}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div> 
        <div class="container hidden" id="heat">
            <div class="card">
                <div class="card-header bg-danger">
                    <h3 class="card-title" style="padding: 10px; font-size: 25px;">Mapa de Calor
                        <button type="button" class="btn btn-info hidden" id="btn-mc" style="float: right; color: white;" onClick="showMC('marker')">MarkerCluster Map</button>
                    </h3>
                    <div class="card-tools">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    {{ heat_map|safe }}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</body>
<script>
    function showHeat() {
        document.getElementById('heat').style.display = 'block', document.getElementById('marker').style.display = 'none', document.getElementById('btn-mc').style.display = 'block';
    }

    function showMC() {
        document.getElementById('marker').style.display = 'block', document.getElementById('heat').style.display = 'none', document.getElementById('btn-heat').style.display = 'block';
    }
</script>
</html>
{% endblock %}